@import "compass/css3"

.nineyi-carousel
  width: 100%
  margin: 0 auto
  border: 1px solid #bfbfbf
  overflow: hidden
  box-sizing: border-box
  .nc-ul
    +transition(all .35s ease)
    +transform(translate3d(0px, 0px, 0px))

    &:before, &:after
      content: ''
      display: table
      clear: both
  .nc-li
    float: left
    img
      width: 100%