/* line 3, ../sass/nineyiCarousel.sass */
.nineyi-carousel {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #bfbfbf;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 9, ../sass/nineyiCarousel.sass */
.nineyi-carousel .nc-ul {
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  overflow: scroll;
}
/* line 17, ../sass/nineyiCarousel.sass */
.nineyi-carousel .nc-ul:before, .nineyi-carousel .nc-ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 21, ../sass/nineyiCarousel.sass */
.nineyi-carousel .nc-li {
  float: left;
}
/* line 23, ../sass/nineyiCarousel.sass */
.nineyi-carousel .nc-li img {
  width: 100%;
}
