/* line 3, ../sass/nineyiCarousel.sass */
.nineyi-carousel {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #bfbfbf;
  overflow-y: hidden;
  overflow-x: scroll;
  box-sizing: border-box;
}
/* line 10, ../sass/nineyiCarousel.sass */
.nineyi-carousel .nc-ul {
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 15, ../sass/nineyiCarousel.sass */
.nineyi-carousel .nc-ul:before, .nineyi-carousel .nc-ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 19, ../sass/nineyiCarousel.sass */
.nineyi-carousel .nc-li {
  float: left;
}
/* line 21, ../sass/nineyiCarousel.sass */
.nineyi-carousel .nc-li img {
  width: 100%;
}
